<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
  <title>Santo Rosario | Misterios Luminosos</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.2.1/hamburgers.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/misterios.css">
  <script src="/js/misterios.js" defer></script>

</head>
<body>
  <header class="header">
    <a href="/index.html" class="title">Santo Rosario</a>
  </header>

    <!-- ********** MENÚ ********* -->
  <button class="menu-btn hamburger hamburger--squeeze" type="button" title="Menú">
    <span class="btn-box hamburger-box">
      <span class="btn-inner hamburger-inner"></span>
    </span>
  </button>

  <aside class="panel">
    <nav class="menu">
      <a href="/index.html" data-scroll-spy>Home</a>
      <a href="#inicio" data-scroll-spy>Inicio</a>
      <a href="#oraciones-iniciales" data-scroll-spy>Oraciones Iniciales</a>
      <a href="#primer-misterio" data-scroll-spy>Primer Misterio</a>
      <a href="#segundo-misterio" data-scroll-spy>Segundo Misterio</a>
      <a href="#tercer-misterio" data-scroll-spy>Tercer Misterio</a>
      <a href="#cuarto-misterio" data-scroll-spy>Cuarto Misterio</a>
      <a href="#quinto-misterio" data-scroll-spy>Quinto Misterio</a>
      <a href="#oraciones-finales" data-scroll-spy>Oraciones Finales</a>
      <a href="#letanias" data-scroll-spy>Letanias Lauretanas</a>
    </nav>
  </aside>

  <main>
    <!-- -------------------- TÍTULOS -------------------- -->
    <div class="title-container">  
      <h1 class="title">Misterios Luminosos</h1>
      <a href="/views/misterios-luminosos/metodo-montfortiano3.html" class="sub-title">Tercer Método Montfortiano</a>
    </div>

    <!-- -------------------- BARRA DE PROGRESO -------------------- -->
    <div class="progress-container">
      <div id="progress-bar"></div>
      <div class="progress-circles">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>

    <!-- -------------------- CONTENEDOR DE LAS ORACIONES -------------------- -->
    <div id="rosario-container">
      <div class="oracion active" id="inicio">
        <h3>Inicio</h3>
        <p>
          Compendio de la vida, muerte, pasión y gloria de Jesús y de María en el Santo Rosario
        </p>
      </div>

      <div class="oracion">
        <h3>Persignarse</h3>
        <p>
          Por la señal de la Santa Cruz, de nuestros enemigos líbranos 
          Señor Dios Nuestro.<br><br>
          En el nombre del Padre, del Hijo y del Espíritu Santo. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Peticiones</h3>
        <p>
          Ofrecemos este Santo Rosario por...
        </p>
      </div>

      <div class="oracion" id="oraciones-iniciales">
        <h3>Invocación del Espíritu Santo</h3>
        <p>
          Ven, Espíritu Santo; llena los corazones de tus fieles y enciende en ellos el fuego de tu amor.
          <br><br>
          V/. Envía Señor tu Espíritu y todo será creado. <br>
          R/. Y renovarás la faz de la tierra.
          <br><br>
          <b>Oremos</b>
          <br>
          ¡Oh Dios, que iluminaste los corazones de tus hijos con la luz del Espíritu Santo!, haznos dóciles a sus inspiraciones para gustar siempre el bien y gozar de su consuelo.
          Por Jesucristo nuestro Señor. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Acto de contrición</h3>
        <p>
          Jesús, mi Señor y Redentor, yo me arrepiento de todos los pecados que he cometido hasta hoy, y me pesa de todo corazón, porque con ellos he ofendido a un Dios tan bueno. <br> Propongo firmemente no volver a pecar y confío que por tu infinita misericordia me has de conceder el perdón de mis culpas y me has de llevar a la vida eterna. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Ofrecimiento General</h3>
        <p>
          Me uno a todos los santos del cielo, a todos los justos de la tierra y a todas la almas fieles de este lugar. Me uno a ti, Jesús mío, para alabar dignamente a tu Santísima Madre y alabarte en Ella y por Ella.
          <br><br>
          Renuncio a todas las distracciones que me sobrevengan durante este Rosario. Quiero rezarlo con modestia, atención y devoción, como si fuera el último de mi vida. <br>R/. <b>Amén.</b>
          <br><br>
          Te ofrecemos, Santísima Trinidad, este Credo para honrar todos los misterios de nuestra fe; este Padrenuestro y estas tres Avemarías para honrar la unidad de tu esencia y la Trinidad de tus personas. <br>R/. <b>Amén.</b>
          <br><br>
          Te pedimos fe viva, firme esperanza y ardiente caridad.
        </p>
      </div>

      <div class="oracion">
        <h3>Credo</h3>
        <p>
          <b>Rezamos este Credo para pedir:</b> <br>
          La fe en la presencia de Dios; <br>
          La fe en el Evangelio; <br>
          La fe y obediencia al Papa, como vicario de Cristo.
          <br><br>
          Creo en Dios, Padre todopoderoso, Creador del cielo y de la tierra.
          <br><br>
          Creo en Jesucristo, su único Hijo, nuestro Señor, que fue concebido por obra y gracia del Espíritu Santo, nació de Santa María Virgen, padeció bajo el poder de Poncio Pilato, fue crucificado, muerto y sepultado, descendió a los infiernos, al tercer día resucitó de entre los muertos, subió a los cielos y está sentado a la derecha de Dios, Padre todopoderoso. Desde allí ha de venir a juzgar a vivos y muertos.
          <br><br>
          Creo en el Espíritu Santo, la santa Iglesia católica, la comunión de los santos, el perdón de los pecados, la resurrección de la carne y la vida eterna. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Padre Nuestro</h3>
        <p>
          <b>Para honrar la unidad de un solo Dios vivo y verdadero.</b> <br><br>
          Padre nuestro, que estás en el cielo, santificado sea tu Nombre; venga a nosotros tu reino; hágase tu voluntad en la tierra como en el cielo.<br><br>
          Danos hoy nuestro pan de cada día; perdona nuestras ofensas como también nosotros perdonamos a los que nos ofenden; no nos dejes caer en la tentación y líbranos del mal. <b>Amén.</b>
        </p>
      </div>
      
      <div class="oracion">
        <h3>1<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar al Padre Eterno que engendra al Hijo contemplándose a sí mismo.</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>2<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar al Verbo eterno igual al Padre, que produce con Él, al Espíritu Santo, amándose mutuamente.</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>3<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar al Espíritu Santo que por vía de amor procede del Padre y del Hijo.</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Gloria</h3>
        <p>
          Gloria al Padre y al Hijo y al Espíritu Santo.<br>
          Como era en el principio, ahora y siempre, por los siglos de los siglos. <b>Amén.</b>
        </p>
      </div>

      <!-- -------------------- PRIMER MISTERIO -------------------- -->
      <div class="oracion" id="primer-misterio"> 
        <h3>Primer Misterio</h3>
        <p>
          <b>El Bautismo de Jesús</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Padre Nuestro</h3>
        <p>
          <b>Para honrar a Jesús como el Hijo de Dios, el predilecto del Padre.</b><br><br>
          Padre nuestro, que estás en el cielo, santificado sea tu Nombre; venga a nosotros tu reino; hágase tu voluntad en la tierra como en el cielo.<br><br>
          Danos hoy nuestro pan de cada día; perdona nuestras ofensas como también nosotros perdonamos a los que nos ofenden; no nos dejes caer en la tentación y líbranos del mal. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>1<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Juan en el desierto, bautizando y predicando un bautismo de arrepentimiento para el perdón de los pecados. "muestren frutos de un sincero arrepentimiento y no se conformen con decir: Nuestro padre es Abraham". Lc. 3,8</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>2<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Juan Bautista que se identifica respondiendo "Yo soy la voz del que grita en el desierto: Enderecen el camino del Señor". Jn. 1, 23</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>3<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar la humildad de Juan el Bautista que predicaba así: "Detrás de mí viene uno con más autoridad que yo, y yo no soy digno de agacharme para soltarle la correa de sus sandalias". Mc.1,7</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>4<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar el anuncio del bautismo con el Espíritu Santo. "Yo los he bautizado con agua, pero él los bautizará con Espíritu Santo y fuego". Mt. 3,11</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>5<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús que es bautizado por Juan.</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>6<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar al Espíritu de Dios que baja como paloma y se posa sobre Jesús.</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>7<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a la voz del cielo que decía: "Éste es mi Hijo querido, mi predilecto". Mt.3,17</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>8<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús que es presentado por Juan como el Cordero de Dios que quita el pecado del mundo. Jn 1, 29</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>9<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar el testimonio de Juan Bautista: "Yo lo he visto y atestiguo que él es el Hijo de Dios". "Por eso mi gozo es perfecto. Él debe crecer y yo disminuir". Jn. 1,34 Jn.3,30</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>10<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús que responde a los discípulos de Juan que le seguían: "Vengan y vean". Jn. 1,39</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Gloria</h3>
        <p>
          Gloria al Padre y al Hijo y al Espíritu Santo.<br>
          Como era en el principio, ahora y siempre, por los siglos de los siglos. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Jaculatorias</h3>
        <p>
          <b>María, Madre de gracia, Madre de misericordia</b>: En la vida y en la muerte, ampáranos, gran Señora.
          <br><br>
          <b>Oh mi buen Jesús</b>: Perdona nuestros pecados, líbranos del fuego del infierno, lleva al Cielo a todas las almas, especialmente a las más necesitadas de Tu infinita misericordia.
          <br><br>
          <b>Sagrado Corazón de Jesús</b>: en vos confío.
        </p>
      </div>

      <!-- -------------------- SEGUNDO MISTERIO -------------------- -->
      <div class="oracion" id="segundo-misterio"> 
        <h3>Segundo Misterio</h3>
        <p>
          <b>La presencia de Jesús en las Bodas de Caná</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Padre Nuestro</h3>
        <p>
          <b>Para honrar "la llegada de la hora de Jesús".</b><br><br>
          Padre nuestro, que estás en el cielo, santificado sea tu Nombre; venga a nosotros tu reino; hágase tu voluntad en la tierra como en el cielo.<br><br>
          Danos hoy nuestro pan de cada día; perdona nuestras ofensas como también nosotros perdonamos a los que nos ofenden; no nos dejes caer en la tentación y líbranos del mal. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>1<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar la presencia de Jesús y sus discípulos en las bodas de Caná.</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>2<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar la presencia de la Madre de Jesús en las bodas de Caná.</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>3<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar la intercesión de la Virgen ante Jesús "No tienen vino". Jn 2,3</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>4<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar la respuesta de Jesús ¿qué quieres de mí mujer? Aún no ha llegado mi hora". Jn 2,4</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>5<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar la confianza de la Madre de Jesús, en Él, ante su respuesta.</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>6<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a la Madre de Jesús cuando dice a los sirvientes "Hagan lo que él les diga". Jn 2,5</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>7<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús al pedir a los sirvientes: "llenen de agua las tinajas. Las llenaron hasta el borde". Jn 2,7</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>8<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús al ordenar: "saquen, ahora, y llévenlo al mayordomo". Jn 2,8</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>9<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar al mayordomo al dirigirse al novio "todo el mundo pone el mejor vino al principio... tú en cambio has dejado el mejor vino para el final". Jn 2,10</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>10<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús que con esta señal manifiesta su gloria y a los discípulos que creen en Él. Jn 2,11</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Gloria</h3>
        <p>
          Gloria al Padre y al Hijo y al Espíritu Santo.<br>
          Como era en el principio, ahora y siempre, por los siglos de los siglos. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Jaculatorias</h3>
        <p>
          <b>María, Madre de gracia, Madre de misericordia</b>: En la vida y en la muerte, ampáranos, gran Señora.
          <br><br>
          <b>Oh mi buen Jesús</b>: Perdona nuestros pecados, líbranos del fuego del infierno, lleva al Cielo a todas las almas, especialmente a las más necesitadas de Tu infinita misericordia.
          <br><br>
          <b>Sagrado Corazón de Jesús</b>: en vos confío.
        </p>
      </div>

      <!-- -------------------- TERCER MISTERIO -------------------- -->
      <div class="oracion" id="tercer-misterio"> 
        <h3>Tercer Misterio</h3>
        <p>
          <b>El Anuncio del Reino y la Invitación a la Conversión</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Padre Nuestro</h3>
        <p>
          <b>Para honrar a Jesús que instaura el Reino de Dios.</b><br><br>
          Padre nuestro, que estás en el cielo, santificado sea tu Nombre; venga a nosotros tu reino; hágase tu voluntad en la tierra como en el cielo.<br><br>
          Danos hoy nuestro pan de cada día; perdona nuestras ofensas como también nosotros perdonamos a los que nos ofenden; no nos dejes caer en la tentación y líbranos del mal. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>1<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús en el llamado a los primeros discípulos. Mc 3,13</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>2<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús en la proclamación de las Bienaventuranzas. Mt 5, 1-12</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>3<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús que proclama "Sean perfectos como su Padre del cielo es perfecto". Mt 5, 4-8</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>4<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús que enseña a orar sus discípulos "Padre Nuestro...". Mt 6, 9-12</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>5<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús que pide "Ser misericordiosos como misericordioso es el Padre de Uds". Lc 6, 36</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>6<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús que anuncia el Reino de Dios en Parábolas. Mt 13</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>7<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús que enseña de una manera nueva, con autoridad. Mc.1,27</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>8<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús que pide fe para la instauración del Reino de Dios. Mt 6,36</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>9<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús interrogando a sus discípulos ¿También Uds. quieren abandonarme? Y la respuesta de Pedro "nosotros hemos creído y reconocemos que tú eres el consagrado de Dios". Jn 6,67</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>10<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús que envía a sus discípulos "vayan y hagan discípulos entre todos los pueblos". Mt. 28,19</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Gloria</h3>
        <p>
          Gloria al Padre y al Hijo y al Espíritu Santo.<br>
          Como era en el principio, ahora y siempre, por los siglos de los siglos. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Jaculatorias</h3>
        <p>
          <b>María, Madre de gracia, Madre de misericordia</b>: En la vida y en la muerte, ampáranos, gran Señora.
          <br><br>
          <b>Oh mi buen Jesús</b>: Perdona nuestros pecados, líbranos del fuego del infierno, lleva al Cielo a todas las almas, especialmente a las más necesitadas de Tu infinita misericordia.
          <br><br>
          <b>Sagrado Corazón de Jesús</b>: en vos confío.
        </p>
      </div>

      <!-- -------------------- CUARTO MISTERIO -------------------- -->
      <div class="oracion" id="cuarto-misterio"> 
        <h3>Cuarto Misterio</h3>
        <p>
          <b>La Transfiguración de Jesús</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Padre Nuestro</h3>
        <p>
          <b>Para honrar la presencia de la Santísima Trinidad en la Transfiguración.</b><br><br>
          Padre nuestro, que estás en el cielo, santificado sea tu Nombre; venga a nosotros tu reino; hágase tu voluntad en la tierra como en el cielo.<br><br>
          Danos hoy nuestro pan de cada día; perdona nuestras ofensas como también nosotros perdonamos a los que nos ofenden; no nos dejes caer en la tentación y líbranos del mal. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>1<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús anunciando a sus discípulos "El que quiera seguirme que se niegue a sí mismo, cargue con su cruz y me siga". Mt. 16,24</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>2<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús que proclama "el Hijo del hombre ha de venir con la gloria de su Padre, acompañado de sus ángeles". Mc 13,26</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>3<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús quien llama a Pedro, Santiago y Juan y se los lleva aparte a una montaña elevada. Mt 17,1</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>4<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús que se transfigura delante de ellos. Mt 17,2</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>5<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar la aparición de Moisés y Elías conversando con Jesús. Mt 17,3</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div> 
      <div class="oracion">
        <h3>6<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Pedro quien se dirige a Jesús: "Señor, ¡qué bien se está aquí!". Mt 17,4</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>7<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar la voz que decía: "Éste es mi Hijo querido, mi predilecto. Escúchenlo". Mt 17,5</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>8<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a los discípulos caídos, boca abajo temblando de mucho miedo. Mt 17,6</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>9<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús que toca a los discípulos y les dice: "Levántense, no tengan miedo". Mt 17,7</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>10<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús que les ordena: "No cuenten a nadie lo que han visto hasta que el Hijo del hombre resucite de entre los muertos". Mt 17,9</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Gloria</h3>
        <p>
          Gloria al Padre y al Hijo y al Espíritu Santo.<br>
          Como era en el principio, ahora y siempre, por los siglos de los siglos. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Jaculatorias</h3>
        <p>
          <b>María, Madre de gracia, Madre de misericordia</b>: En la vida y en la muerte, ampáranos, gran Señora.
          <br><br>
          <b>Oh mi buen Jesús</b>: Perdona nuestros pecados, líbranos del fuego del infierno, lleva al Cielo a todas las almas, especialmente a las más necesitadas de Tu infinita misericordia.
          <br><br>
          <b>Sagrado Corazón de Jesús</b>: en vos confío.
        </p>
      </div>

      <!-- -------------------- QUINTO MISTERIO -------------------- -->
      <div class="oracion" id="quinto-misterio"> 
        <h3>Quinto Misterio</h3>
        <p>
          <b>Institución de la Sagrada Eucaristía</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Padre Nuestro</h3>
        <p>
          <b>Para honrar al Padre que nos da el verdadero pan del cielo.</b><br><br>
          Padre nuestro, que estás en el cielo, santificado sea tu Nombre; venga a nosotros tu reino; hágase tu voluntad en la tierra como en el cielo.<br><br>
          Danos hoy nuestro pan de cada día; perdona nuestras ofensas como también nosotros perdonamos a los que nos ofenden; no nos dejes caer en la tentación y líbranos del mal. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>1<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús el verdadero Pan de Vida: "Yo soy el pan de la vida. El que acude a mí no pasará hambre". Jn 6,35</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>2<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Juan Bautista cuando presenta a Jesús como el Cordero de Dios que quita el pecado del mundo. Jn 1,29</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>3<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús quien se ofrece a sí mismo para el perdón de los pecados.</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>4<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a Jesús en la institución de la Eucaristía. Lc 22, 14-21</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>5<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar al Espíritu Santo presente en la celebración de la Eucaristía.</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>6<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a la Santísima Eucaristía como Amor de la Santísima Trinidad.</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>7<sup>a</sup> Ave María</h3>
        <p>
          <b>Para agradecer el perdón de los pecados que acontece en la Eucaristía.</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>8<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a la Iglesia que en la Eucaristía celebra el misterio de la fe: "Anunciamos tu muerte, proclamamos tu resurrección, ven Señor Jesús".</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>9<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a los invitados a las bodas del cordero: "Dichosos los invitados a las bodas del Cordero". Ap. 19,9</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>
      <div class="oracion">
        <h3>10<sup>a</sup> Ave María</h3>
        <p>
          <b>Para honrar a la Santísima Virgen, mujer de fe, que se mantuvo fiel hasta el sacrificio de su Hijo.</b><br><br>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Gloria</h3>
        <p>
          Gloria al Padre y al Hijo y al Espíritu Santo.<br>
          Como era en el principio, ahora y siempre, por los siglos de los siglos. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Jaculatorias</h3>
        <p>
          <b>María, Madre de gracia, Madre de misericordia</b>: En la vida y en la muerte, ampáranos, gran Señora.
          <br><br>
          <b>Oh mi buen Jesús</b>: Perdona nuestros pecados, líbranos del fuego del infierno, lleva al Cielo a todas las almas, especialmente a las más necesitadas de Tu infinita misericordia.
          <br><br>
          <b>Sagrado Corazón de Jesús</b>: en vos confío.
        </p>
      </div>

      <!-- -------------------- ORACIONES FINALES -------------------- -->
      <div class="oracion" id="oraciones-finales">
        <h3>Ave María por la fe</h3>
        <p>
          <b>Dios te salve</b>, María Santísima, <b>Hija de Dios Padre</b>, Virgen Purísima antes del parto, en tus manos ponemos nuestra fe para que la ilumines.
          <br>Llena eres de gracia, el Señor está contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.
          <br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Ave María por la esperanza</h3>
        <p>
          <b>Dios te salve</b>, María Santísima, <b>Madre de Dios Hijo</b>, Virgen Purísima en el parto, en tus manos ponemos nuestra esperanza para que la alientes.
          <br>Llena eres de gracia, el Señor está contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.
          <br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Ave María por la caridad</h3>
        <p>
          <b>Dios te salve</b>, María Santísima, <b>Esposa de Dios Espíritu Santo</b>, Virgen Purísima después del parto, en tus manos ponemos nuestra caridad para que la inflames.
          <br>Llena eres de gracia, el Señor está contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.
          <br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion" id="letanias">
        <h3>Letanías</h3>
        <p>
          <b>Señor, ten piedad,</b><br>
          R: Señor, ten piedad.
          <br><br>
          Cristo, ten piedad, <br>
          R: Cristo, ten piedad.
          <br><br>
          Señor, ten piedad, <br>
          R: Señor, ten piedad.
          <br><br>
          <b>Cristo, óyenos,</b><br>
          R: Cristo, óyenos.
          <br><br>
          Cristo, escúchanos, <br>
          R: Cristo, escúchanos.
          <br><br>
          Dios, Padre celestial, <br>
          R: ten piedad de nosotros.
          <br><br>
          Dios, Hijo, Redentor del mundo, <br>
          R: ten piedad de nosotros.
          <br><br>
          Dios, Espíritu Santo, <br>
          R: ten piedad de nosotros.
          <br><br>
          Santísima Trinidad, un solo Dios, <br>
          R: ten piedad de nosotros.
          <br><br><br>
          <b>Santa María,</b> <br>
          R: Ruega por nosotros. <em>(Se repite después de cada advocación mariana)</em>
          <br>
          Santa Madre de Dios,
          <br>
          Santa Virgen de las Vírgenes,
          <br>
          Madre de Cristo,
          <br>
          Madre de la Iglesia,
          <br>
          Madre de la Misericordia,
          <br>
          Madre de la divina gracia,
          <br>
          Madre de esperanza,
          <br>
          Madre purísima,
          <br>
          Madre castísima,
          <br>
          Madre siempre virgen,
          <br>
          Madre inmaculada,
          <br>
          Madre amable,
          <br>
          Madre admirable,
          <br>
          Madre del buen consejo,
          <br>
          Madre del Creador,
          <br>
          Madre del Salvador,
          <br>
          Virgen prudentísima,
          <br>
          Virgen digna de veneración,
          <br>
          Virgen digna de alabanza,
          <br>
          Virgen poderosa,
          <br>
          Virgen clemente,
          <br>
          Virgen fiel,
          <br>
          Espejo de justicia,
          <br>
          Trono de la sabiduría,
          <br>
          Causa de nuestra alegría,
          <br>
          Vaso espiritual,
          <br>
          Vaso digno de honor,
          <br>
          Vaso de insigne devoción,
          <br>
          Rosa mística,
          <br>
          Torre de David,
          <br>
          Torre de marfil,
          <br>
          Casa de oro,
          <br>
          Arca de la Alianza,
          <br>
          Puerta del cielo,
          <br>
          Estrella de la mañana,
          <br>
          Salud de los enfermos,
          <br>
          Refugio de los pecadores,
          <br>
          Consuelo de los migrantes,
          <br>
          Consoladora de los afligidos,
          <br>
          Auxilio de los cristianos,
          <br>
          Reina de los Ángeles,
          <br>
          Reina de los Patriarcas,
          <br>
          Reina de los Profetas,
          <br>
          Reina de los Apóstoles,
          <br>
          Reina de los Mártires,
          <br>
          Reina de los Confesores,
          <br>
          Reina de las Vírgenes,
          <br>
          Reina de todos los Santos,
          <br>
          Reina concebida sin pecado original,
          <br>
          Reina asunta a los Cielos,
          <br>
          Reina del Santísimo Rosario,
          <br>
          Reina de la familia,
          <br>
          Reina de la paz.
          <br><br>

          <b>Cordero de Dios</b>, que quitas el pecado del mundo, <br>
          perdónanos, Señor.
          <br><br>
          Cordero de Dios, que quitas el pecado del mundo, <br>
          escúchanos, Señor.
          <br><br>
          Cordero de Dios, que quitas el pecado del mundo, <br>
          ten misericordia de nosotros.
          <br><br>
          <b>Ruega por nosotros, Santa Madre de Dios.</b> <br>
          Para que seamos dignos de alcanzar las promesas de nuestro Señor Jesucristo.
          <br><br>

          <b>Oración</b> <br>
          Te rogamos nos concedas, Señor Dios nuestro, gozar de continua salud de alma y cuerpo, y por la gloriosa intercesión de la bienaventurada siempre Virgen María, vernos libres de las tristezas de la vida presente y disfrutar de las alegrías eternas. <br>
          Por Cristo nuestro Señor. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Por las intenciones del Santo Padre</h3>
        <p>
          <b>Padre nuestro</b>, que estás en el cielo, santificado sea tu Nombre; venga a nosotros tu reino; hágase tu voluntad en la tierra como en el cielo.
          <br><br>
          Danos hoy nuestro pan de cada día; perdona nuestras ofensas como también nosotros perdonamos a los que nos ofenden; no nos dejes caer en la tentación y líbranos del mal.<b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Ave María</h3>
        <p>
          Dios te Salve, María, llena eres de gracia, el Señor es contigo. Bendita tú eres entre todas las mujeres y bendito es el fruto de tu vientre, Jesús.<br><br>
          Santa María, Madre de Dios, ruega por nosotros pecadores, ahora y en la hora de nuestra muerte. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Gloria</h3>
        <p>
          Gloria al Padre y al Hijo y al Espíritu Santo.<br>
          Como era en el principio, ahora y siempre, por los siglos de los siglos. <b>Amén.</b>
        </p>
      </div>
      
      <div class="oracion">
        <h3>Salve</h3>
        <p>
          <b>Dios te salve, Reina y Madre de misericordia</b>, vida, dulzura y esperanza nuestra; Dios te salve. A ti llamamos los desterrados hijos de Eva; a ti suspiramos, gimiendo y llorando en este valle de lágrimas. Ea, pues, Señora, abogada nuestra, vuelve a nosotros esos tus ojos misericordiosos; y después de este destierro, muéstranos a Jesús, fruto bendito de tu vientre. ¡Oh, clemente, oh piadosa, oh dulce Virgen María!.
          <br><br>
          <b>Ruega por nosotros</b>, Santa Madre de Dios, para que seamos dignos de alcanzar las promesas de Nuestro Señor Jesucristo. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3>Jaculatoria final</h3>
        <p>
          Ave María Purísima. <br>
          Sin pecado concebida.
        </p>
      </div>

      <div class="oracion">
        <h3>Santiguarse</h3>
        <p>
          En el nombre del Padre y del Hijo y del Espíritu Santo. <b>Amén.</b>
        </p>
      </div>

      <div class="oracion">
        <h3></h3>
        <p></p>
      </div>

    </div>

    <!-- -------------------- BOTONES DE NAVEGACIÓN ORACIONES -------------------- -->
    <div class="btns-oraciones">
      <button id="anterior-btn" class="btn">Inicio</button>
      <button id="siguiente-btn" class="btn">Siguiente Oración</button>
    </div>

  </main>

</body>
</html>
